bleach==3.1.0
bleach-whitelist==0.0.9
certifi==2018.11.29
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.13
django-ipware==2.1.0
django-jet==1.0.8
django-markup==1.4.1
django-prometheus==1.0.15
django-prometheus-metrics==0.0.1
django-taggit==0.24.0
django-zesty-metrics==0.3.1
gunicorn==19.9.0
idna==2.8
Markdown==3.0.1
Pillow==5.4.0
prometheus-client==0.6.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
python-http-client==3.1.0
pytz==2018.7
PyYAML==3.11
requests==2.21.0
sendgrid==5.6.0
six==1.12.0
statsd==2.1.2
ua-parser==0.3.5
urllib3==1.24.1
user-agents==0.2.0
uuid==1.30
webencodings==0.5.1
whitenoise==4.1.2
